@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

body {
    background-color: #ffcc66;
}

.logo {
    color: royalblue;
    border: #000;
    font-size: 5rem;
    text-align: center;
    padding: 2rem 0rem;
}

.question {
    text-align: center;
    display: flex;
    justify-content: center;
    }

.hide {
    display: none;
}

.answerarea {
    display: flex;
    justify-content: center;
}

.answer-format {
    background-color: aqua;
    border-color: 5px #000;
    border-style: solid; 
    border-radius: 10px;
    text-align: center;
}

.outcome {
    display: flex;
    justify-content: center;
    align-content: center;
}

.select-area {
    background-color: rgba(0, 0, 0, 0.7);
    color: royalblue;
}

.answer {
    cursor: pointer;
    margin: 1rem;
}

.intro {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

