@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

body {
    background-image: url(../images/background-loop.jpg);
}

.question {
    text-align: center;
    display: flex;
    justify-content: center;
    }

.hide {
    display: none;
}

.answerarea {
    display: flex;
    justify-content: center;
}

.answer-format {
    background-color: aqua;
    margin: 10px;
}

.outcome {
    display: flex;
    justify-content: center;
    align-content: center;
}

.select-area {
    background-color: rgba(0, 0, 0, 0.7);
    color: royalblue;
}

.select-area .select {
    width: 120%;
    background: url(arrow.png);
    background-position: 80% center;
    overflow: hidden;
}